.myBG{
    background-color: rgb(189, 182, 174);
}
.bgPromo{
    position: absolute;
width: 1160px;
height: 241px;
left: 200px;
top: 76px;
background-color: rgb(189, 182, 174);
}

.category{
    margin-top: 280px;
    margin-left: 20px;
}

.bgproduct{
    margin-top: 20px;
}